{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'user_side/login/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<style>
    .image-container {
        background: url('{% static "user_side/login/image/neww.jpeg" %}') center no-repeat;
        background-size: cover;
        height: 100vh;
    }
</style>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 form-container">
            <div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box">
                <div class="reset-form d-block">
                    <form method="POST" class="reset-password-form">
                        {% csrf_token %}
                        <h4 class="mb-3">Reset Your Password</h4>
                        <p class="mb-3 text-white">
                            Please enter your email address and new password we will send you a OTP
                        </p>
                        <div class="form-input">
                            <span><i class="fa fa-envelope"></i></span>
                            <input type="email" placeholder="Email Address" name="email" id="email">
							<span class="error-message" id="email-error"></span>
                        </div>
                        <div class="form-input">
                            <span><i class="fa fa-lock"></i></span>
                            <input type="password" placeholder="New Password" name="pass1">
                        </div>
                        <div class="form-input">
                            <span><i class="fa fa-lock"></i></span>
                            <input type="password" placeholder="Confirm Password" name="pass2">
                        </div>
                        <div class="row mb-3">
                            <div class="form-group">
                                {% if messages %}
                                {% for message in messages %}
                                    <div class="{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">
                                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                                        <strong>&#9888;</strong> {{ message }}
                                    </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn">Send OTP</button>
                        </div>
                    </form>
                </div>
                <div class="reset-confirmation d-none">
                    <div class="mb-4">
                        <h4 class="mb-3">Link was sent</h4>
                        <h6 class="text-white">Please, check your inbox</h6>
                    </div>
                    <div>
                        <a href="{% url 'user_app:login_page' %}">
                            <button type="submit" class="btn">Login Now</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 d-none d-md-block image-container"></div>
    </div>
</div>
<script type="text/javascript">
    function PasswordReset() {
        $('form#reset-password-form').on('submit', function(e){
            e.preventDefault();
            // Email Validation
            var email = $('#email').val();
            var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailPattern.test(email)) {
                $('#email-error').text("Invalid email address");
                return;
            } else {
                $('#email-error').text("");
            }
            
            // Reset Form
            $('.reset-form').removeClass('d-block').addClass('d-none');
            $('.reset-confirmation').addClass('d-block');
        });
    }

    window.addEventListener('load', function(){
        PasswordReset();
    });
</script>
</body>
</html>
