{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{% static 'user_side/login/css/style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-GLhlTQ8i7GZsKZL+O3u5m5Z6ZIX0Uq6cfvpFfB8eXGGgFOjZK5fa5MToJzjM+2W1" crossorigin="anonymous">
</head>

<style>
.image-container {
    background: url('{% static "user_side/login/image/neww.jpeg" %}') center no-repeat;
    background-size: cover;
    height: 100vh;
}

</style>


<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-md-6 form-container">
				<div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">
					{% comment %} <div class="logo mt-5 mb-3">
						<img src="{% static 'user_side/login/image/logo.png' %}" width="150px">
					</div> {% endcomment %}
					<div class="heading mb-3">
						<h4>Login into your account</h4>
					</div>
					<form method="POST" action="{% url "user_app:login_page" %}" enctype="multipart/form-data"> 
						{% csrf_token %}
						<div class="form-input">
							<span><i class="fa fa-envelope"></i></span>
							<input type="email" placeholder="Email" name="email" required>
						</div>
						<div class="form-input">
							<span><i class="fa fa-lock"></i></span>
							<input type="password" placeholder="Password" name="password" id="password" required>
							<span class="toggle-password" onclick="togglePassword('password')"><i class="fa fa-eye-slash" id="eye-icon1"></i></span>
						</div>
						<div class="row mb-3">
							{% if messages %}
							{% for message in messages %}
							  <div class="{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">
								<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
								<strong>&#9888;</strong> {{ message }}
							  </div>
							{% endfor %}
						  {% endif %}
							<div class="col-12 text-right">
								<a href="{% url "user_app:forgot_password" %}" class="forget-link">Forgot password</a>
							</div>
						</div>
						<div class="text-left mt-3">
							<button type="submit" class="btn">Login</button>
						</div>
						<div class="text-white mb-3">or login with</div>
						<div class="row mb-3">
							<div class="col-4">
								<a href="" class="btn btn-block btn-social btn-facebook">
									<i class="fa fa-facebook"></i>
								</a>
							</div>
							{% comment %} <div class="col-4">
								<a href="{% provider_login_url 'google' method='oauth2' %}" class="btn btn-block btn-social btn-google">
									<i class="fa fa-google"></i>
								</a>
							</div> {% endcomment %}
							<div class="col-4">
								<a href="" class="btn btn-block btn-social btn-twitter">
									<i class="fa fa-twitter"></i>
								</a>
							</div>
						</div>
						<div class="text-white">Don't have an account?
							<a href="{% url "user_app:signup_page" %}" class="register-link">Register here</a>
						</div>
					</form>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 d-none d-md-block image-container"></div>
		</div>
	</div>
</body>

<script>
    function togglePassword(passwordFieldId) {
        var passwordField = document.getElementById(passwordFieldId);
        var eyeIcon = document.getElementById('eye-icon' + passwordFieldId.charAt(passwordFieldId.length - 1));

        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            eyeIcon.classList.remove('fa-eye-slash');
            eyeIcon.classList.add('fa-eye');
        } else {
            passwordField.type = 'password';
            eyeIcon.classList.remove('fa-eye');
            eyeIcon.classList.add('fa-eye-slash');
        }
    }
</script>
</html>