{% extends 'admin_side/base.html' %}
{% load static %}
{% block content %}
<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Edit Product Variant</h2>
            </div>
        </div>
        <form method="POST" action="{% url 'edit_product_variant' old_product.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-4">
                            <label class="form-label">Product</label>
                            <select class="form-select" name="product">
                                {% for product in products %}
                                <option value="{{product.id}}" {% if product.id == old_product.product.id %} selected {% endif %}>{{product}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">SKU ID</label>
                            <input type="text" placeholder="Type here" class="form-control" name="sku_id" id="skuid" value="{{ old_product.sku_id }}">
                            <p style="color: red;" id="err-skuid"></p>
                        </div>
                        <div class="row gx-3">
                            <div class="col-md-4 mb-3">
                                <label class="form-label">Colour</label>
                                <select class="form-select" name="colour_value">
                                    {% comment %} {% for value in products %}
                                        <option value="{{ value.id }}" {% if value.id == old_product.colour.id %} selected {% endif %}>{{ colour_value }}</option>
                                    {% endfor %} {% endcomment %}
                                        {% for value in colour %}
                                            <option value="{{ value.id }}" {% if value in old_product.colour.all %} selected {% endif %}>{{ value.colour_value }}</option>
                                        {% endfor %}
                                    
                                </select>

                            </div>                            
                        </div>
                        <div class="row gx-3">
                            <div class="col-md-4  mb-3">
                                <label for="product_size" class="form-label">Max Price</label>
                                <input type="text" placeholder="Type here" class="form-control" id="max_price"
                                    name="max_price" value="{{ old_product.max_price }}">
                                    <p style="color: red;" id="err-max-price"></p>
                            </div>
                            <div class="col-md-4  mb-3">
                                <label for="product_size" class="form-label">Sale price</label>
                                <input type="text" placeholder="Type here" class="form-control" id="sale_price"
                                    name="sale_price" value="{{ old_product.sale_price }}">
                                <p style="color: red;" id="err-sale-price"></p>
                            </div>
                            <div class="col-md-4  mb-3">
                                <label for="product_size" class="form-label">Stock</label>
                                <input type="text" placeholder="Type here" class="form-control" id="stock"
                                    name="stock" value="{{ old_product.stock }}">
                                <p style="color: red;" id="err-stock"></p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label">Thumbnail-Images</label>
                                <input class="form-control" type="file" name="existing_product_images" onchange="previewImages(event)">
                            </div>
                            {% if old_product.thumbnail_image %}
                            <div>
                                <label class="form-label">Previously Selected Image</label>
                                <img src="{{ old_product.thumbnail_image.url }}" alt="Thumbnail Image">
                            </div>
                            {% endif %}
                        </div>
                        </div>
                        <div class="card-body">
                            <div>
                                <label class="form-label">Product-Images</label>
                                <div class="input-upload" id="imagePreviewContainer">
                                    {% for image in old_product.additional_product_images.all %}
                                        <img src="{{ image.image.url }}" alt="Product Image">
                                    {% endfor %}
                                </div>
                                <input class="form-control" type="file" name="product_image" id="product_image" multiple>
                            </div>
                        </div>                        
                        <div>
                            <button type="submit" id="add-btn" class="btn-dark  btn-md rounded font-sm hover-up" style="margin-left: 20px;">SAVE
                            </button>
                        </div>
                    </div> <!-- card end// -->
                </div> <!-- card end// -->
            </div>
        </form>
    </div>
</section>


<script>

    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("add-btn").addEventListener("click", function (event) {
            let preventDefault = false;  // Flag to determine whether to prevent the default behavior
    
            const skuidRegex = /^[^\s].*[^\s]$/;
            const priceRegex = /^\d*\.?\d+$/;

            function validateSkuid() {
            const skuidInput = document.getElementById("skuid");
            const skuId = skuidInput.value;
            if (skuidRegex.test(skuId)) {
                return true;
            } else {
                document.getElementById("err-skuid").textContent = "Please enter a valid SKU ID";
                preventDefault = true;  // Set the flag to true if validation fails
                return false;
            }
        }

            function validateMaxPrice() {
                const maxPriceInput = document.getElementById("max_price");
                const maxPrice = maxPriceInput.value;
                if (priceRegex.test(maxPrice)) {
                    return true;
                } else {
                    document.getElementById("err-max-price").textContent = "Please enter a valid price";
                    preventDefault = true;  // Set the flag to true if validation fails
                    return false;
                }
            }
    
    
            function validateSalePrice() {
                const salePriceInput = document.getElementById("sale_price");
                const salePrice = salePriceInput.value;
                if (priceRegex.test(salePrice)) {
                    return true;
                } else {
                    document.getElementById("err-sale-price").textContent = "Please enter a valid price";
                    preventDefault = true;  // Set the flag to true if validation fails
                    return false;
                }
            }

            function validateStock() {
                const stockInput = document.getElementById("stock");
                const stock = stockInput.value;
                if (priceRegex.test(stock)) {
                    return true;
                } else {
                    document.getElementById("err-stock").textContent = "Please enter a valid number";
                    preventDefault = true;  // Set the flag to true if validation fails
                    return false;
                }
            }
    
    
            // Call validation functions
            validateSkuid();
            validateMaxPrice();
            validateSalePrice();
            validateStock();
    
            // Prevent the default behavior only if any of the validations fail
            if (preventDefault) {
                event.preventDefault();
            }
        });
    });
    
    </script>

{% endblock content %}
