{% extends 'admin_side/base.html' %}
{% block content %}
{% load static %}

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Product Variant List</h2>
                </div>
                <div>
                    <!-- <a href="#" class="btn btn-light rounded font-md">Export</a>
                    <a href="#" class="btn btn-light rounded  font-md">Import</a> -->
                    <a href="{% url 'add_product_variant' %}" class="btn btn-dark btn-sm rounded">Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                {% if messages %}
                <div class="col-12">
                    <div class="alert alert-info" role="alert">
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-md-4 col-8">
                            <div class="form-group">
                                <label>Product</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-4">
                            <div class="form-group">
                                <label>Max Price</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-4">
                            <div class="form-group">
                                <label>Sale Price</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-4">
                            <div class="form-group">
                                <label>Stock</label>
                            </div>
                        </div>
                        <!-- Add your other headers here -->
                        <div class="col-md-2 col-4">
                            <div class="form-group">
                                <label>Status</label>
                            </div>
                        </div>
                    </div>

                </header>
                <div class="card-body">
                    {% for i in product_variant %}
                    <article class="itemlist">
                        <div class="row align-items-center">
                            <div class="col-md-4 col-8">
                                <a class="itemside" href="#">
                                    <div class="left">
                                        <img src="{{ i.thumbnail_image.url }}" class="img-sm img-thumbnail" alt="Item">
                                    </div>
                                    <div class="info">
                                        <h6 class="mb-0">{{i.get_product_name}}</h6>
                                        <span>{{i.product_variant_slug}}</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-1 col-4"> <span>{{i.max_price|floatformat:0}}</span> </div>
                            <div class="col-md-1 col-4"> <span>{{i.sale_price|floatformat:0}}</span> </div>
                            <div class="col-md-1 col-4"> <span>{{i.stock}}</span> </div>
                            <div class="col-lg-2 col-sm-2 col-2 col-status" style="width: 30px;">
                                {% if i.is_active   == True %}
                                <span class="badge rounded-pill alert-success">Active</span>
                                {% else %}
                                <span class="badge rounded-pill alert-danger">Blocked</span>    
                                {% endif %}
                            </div>
                           

                            <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                
                                {% if i.is_active == True %}
                                <a href="{% url 'unlist_product_variant' product_id=i.id %}" onclick="toggleProductVariant('{{ i.id }}', 'unlist')" class="btn btn-sm font-sm alert-danger rounded block-user-btn">
                                    Unlist
                                </a>
                            {% else %}
                                <a href="{% url 'list_product_variant' product_id=i.id %}" onclick="toggleProductVariant('{{ i.id }}', 'list')" class="btn btn-sm font-sm alert-success rounded unblock-user-btn">
                                    List
                                </a>
                            {% endif %}
                        </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-action text-end"> 
                                <a href="{% url 'edit_product_variant' product_id=i.id %}" class="btn btn-sm font-sm rounded btn-dark">
                                    <i class="material-icons md-edit"></i> Edit
                                </a>
                                <!-- <a href="#" class="btn btn-sm font-sm btn-light rounded">
                                    <i class="material-icons md-delete_forever"></i> Delete
                                </a> -->
                            </div>
                        </div> <!-- row .// -->
                    </article> <!-- itemlist  .// -->
                    {% endfor %}
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->


<script>
function toggleProductVariant(id, action) {
    // Make an asynchronous request to the appropriate endpoint based on the action
    let url = action === 'list' ? `/admin/list-product-variant/${id}/` : `/admin/unlist-product-variant/${id}/`;
    fetch(url)
        .then(response => response.json())
        .then(data => {
            // Check the response status and handle accordingly
            if (data.status === 'success') {
                // Redirect to the product variant list view
                window.location.reload(); // Reload the page to reflect the changes
            } else {
                // Handle any error or display a message to the user
                console.error(data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
}

</script>
        {% endblock content %}